.full-banner{
    background-color: rgb(10, 0, 19);
}
.banner-area{
    display: flex;
    justify-content: space-between;
    padding: 70px;
}
.banner-text{
    margin-top: 100px;
    text-align: center;
}
.banner-text h2{
    color:rgb(219, 206, 231);
}
.banner-text span{
    color:blueviolet;
}
.banner-area img{
    width: 500px;
    height: 400px;
}


@media screen and (max-width: 600px){
    .banner-area{
        display: block;
        padding-top:2px;
        padding-bottom: 70px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .banner-area img{
        width: 300px;
        height: 200px;
    }
}